body {
    display:flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    place-items: center;
    justify-content: center;
    background: #1a1a1a;
}

#calculator {
    width: 300px;
    height: 50%;
    padding: 1em;
    background: white;
    border-radius: 1em;
    text-align: center;
}

#display {
    width: 100%;
    font-size: 2em;
    margin: .5em auto;
    text-align: right;
}